<header>
    <nav class="navigation_bar">
        <a href="">
            <img class="navigation_logo" src="../../../assets/img/YUGAME.png" alt="">
        </a>

        <ul class="navigation_bar__links">
            <!-- <li>my profil</li> -->
            <!-- <li>logout</li> -->
            <li><a class="mainSection__navigation__links" href="/login">Влизане</a></li>
            <li><a  class="mainSection__navigation__links" href="/register">Регистрация</a></li>
            <li><a  class="mainSection__navigation__links" href="/create">Create product</a></li>
        </ul>
    </nav>
    <div class="img_section">
        <div class="search_conteiner marginNav">
            <input type="text">
            <i class="fas fa-search search"></i>
        </div>
        <!-- <img class="navigation_logo_test" src="/img/YUGAME.png" alt=""> -->
        <!-- <h2 class="img_section__title home_heading">YU-GI-OH</h2> -->
        <img class="logo" src="../../../assets/img/logo.png" alt="">
        <div class="empty"></div>

        
    </div>
    <div class="mainSection__navigation">
        
        <ul class="mainSection__navigation__link">
            <li ><a class="mainSection__navigation__links" routerLink="/home" href="/home">Начало</a></li>
            <li ><a class="mainSection__navigation__links" routerLink="/products" href="/products">Продукти</a></li>
            <li ><a class="mainSection__navigation__links" href="/about">За нас</a></li>
            <i class="fas fa-shopping-basket car marginNav"></i>
        </ul>
        
    </div>
</header>
