<div class="accaount">
           
    <form class="accaount__form" action="" [formGroup]="registerFormGroup" (ngSubmit)="rgisterHandler()">
        <h2>REgister</h2>

        <label for="username">Username</label>
        <input  formControlName="username" type="text" id="username">

        <label for="email">Email</label>
        <input  formControlName="email" type="text" id="email">

        <label for="password">Password</label>
        <input  formControlName="password" type="text" id="password">

        <label for="Re-Password">Re-Password</label>
        <input  formControlName="rePassword" type="text" id="Re-Password">

        <button class="submit_btn" type="submit">Register</button>
    </form>
    
</div>
